<nav class="navbar navbar-default" id="header">
	<div class="container">
		<div class="navbar-header">
			<button type="button" class="navbar-toggle collapsed" data-toggle="collapse" data-target="#navbar" aria-expanded="false" aria-controls="navbar">
				<span class="sr-only">Toggle Navigation</span>
				<span class="fa fa-bars"></span>
			</button>
			<a class="navbar-brand" href="#">QuranIonic</a>
		</div>
		<div class="collapse navbar-collapse navbar-left">

		</div>
		<!-- nav-collapse -->
		
	</div>
	<!-- container -->
</nav>
<!-- header -->


<nav class="navbar navbar-default" id="subheader">
	<div class="container">
		<h2 class="navbar-text">Surah Al-Fatihah</h2>
	</div>
	<!-- container -->
</nav>
<!-- subheader -->




<div id="content">
	<div class="container">
		<div ui-view></div>
		<!-- ui view -->
	</div>
	<!-- container -->
</div>
<!-- content -->